$pure-white: #ffffff;
$pure-black: #000000;
$light-grey: #f5f5f5;
$grey-color-contact: rgb(167, 167, 167);
$dark-grey: #414141;
$green-color: #2ade72;
$darker-green-color: #18cc60;
$shadow-green: linear-gradient(45deg, rgba(5, 27, 9, 0.65), rgba(5, 27, 9, 0.65));
$shadow-black: linear-gradient(45deg, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65));

