@use './colors' as *;

@mixin heroImagesGreen($bgImg) {
	background-image: $shadow-green, url($bgImg);
	background-size: cover;
	background-position: center;
	background-attachment: scroll;
}

@mixin heroImagesBlack($bgImg) {
	background-image: $shadow-black, url($bgImg);
	background-size: cover;
	background-position: center;
	background-attachment: scroll;
}

@mixin linkAnimation($aColor) {
	position: relative;
	padding: 0.2em 0.1em;
	width: 100%;
	z-index: 0;
	clear: both;

	&::after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		height: 3px;
		background-color: $aColor;
		z-index: -1;
		transition: height 0.3s;
	}

	&:hover::after {
		height: 100%;
	}
}

@mixin btnAnimation($btnColor) {
	position: relative;
	overflow: hidden;
	z-index: 0;

	&::before {
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		bottom: 50%;
		right: 50%;
		background-color: $btnColor;
		z-index: -1;
		transition: top 0.3s, left 0.3s, right 0.3s, bottom 0.3s;
	}

	&:hover::before {
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}

	// &::before,
	// &::after {
	// 	content: '';
	// 	position: absolute;
	// 	top: 0;
	// 	height: 100%;
	// 	width: 0;
	// 	background-color: $btnColor;
	// 	z-index: -1;
	// 	transition: width 0.5s;
	// }

	// &::before {
	// 	left: 50%;
	// }

	// &::after {
	// 	right: 50%;
	// }

	// &:hover::before,
	// &:hover::after {
	// 	width: 80%;
	// }
}
