@use './reset';
@use './components';
@use './colors' as *;
@use './mixins' as *;

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.6rem;
}

.nav {
	&-mobile {
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		transform: translateX(150%);
		@include heroImagesBlack('../img/forest-nav-bg-small.jpg');
		z-index: 900;
		transition: transform 0.3s;

		&--active {
			transform: translateX(0);
		}

		.nav__item {
			&::before,
			&::after {
				content: '';
				position: absolute;
				width: 0;
				bottom: 0;
				border-bottom: 3px solid $pure-white;
				transition: width 0.3s;
			}

			&::before {
				right: 50%;
			}

			&::after {
				left: 50%;
			}

			&:hover::before,
			&:hover::after {
				width: 50%;
			}
		}
	}

	&__item {
		position: relative;
		display: block;
		margin: 0.5em 0;
		padding: 0.5em 2em;
		font-size: 3.2rem;
		text-decoration: none;
		color: $pure-white;
	}

	&-desktop {
		display: none;
	}
}

.header {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10em 2em;
	@include heroImagesBlack('../img/header-small.jpg');
	background-position: 50% 70%;
	overflow: hidden;

	&__text,
	&__heading {
		position: relative;
	}

	&__text {
		font-size: 2.2rem;
		color: $light-grey;
	}

	&__heading {
		font-size: 3.2rem;
		color: $pure-white;
	}
}

//ABOUTUS
.aboutus {
	&__box {
		display: flex;
		flex-direction: column;
		margin: 2em 0;
	}

	&__img {
		width: 100%;
		height: 100%;
		margin-bottom: 1em;
	}

	&__title {
		font-size: 1.8rem;
		margin-bottom: 0.5em;
	}

	&__text {
		font-weight: 300;
		font-size: 1.5rem;

		a {
			color: $pure-black;
			font-weight: 400;
			text-decoration: none;
		}
	}
}

//HERO SECTION

.hero-img {
	position: relative;
	padding: 8em 2em;
	@include heroImagesGreen('../img/hero-small.jpg');
	overflow: hidden;

	.wrapper {
		max-width: 950px;
	}

	&__title {
		padding: 1em 1em;
		text-align: center;
		font-size: 2.6rem;
		font-weight: 400;
		color: $pure-white;
		border: 1px solid $pure-white;
	}
}

.offers {
	.section-heading {
		margin-bottom: 3.5rem;
	}

	&__text {
		margin-bottom: 3.5rem;
		text-align: center;
		font-size: 1.8rem;
	}

	&__box {
		display: flex;
		flex-direction: column;
	}

	&__info {
		margin-top: 2.5em;
		font-size: 1.8rem;
		color: $dark-grey;

		a {
			padding: 0.2em 0.1em;
			text-decoration: none;
			color: $pure-black;
			border-bottom: 3px solid $green-color;
			font-weight: bold;
			@include linkAnimation($green-color);
		}
	}

	&__option {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		margin-bottom: 4em;
		padding: 2.5em 1em;
		border-radius: 6px;
		box-shadow: 0 2px 5px $dark-grey;
		transition: transform 0.3s;

		&:hover {
			transform: scale(1.02);
		}

		&:last-child {
			margin-bottom: 0;
		}

		&-heading {
			margin-bottom: 0.5em;
			font-size: 2.6rem;
			font-weight: 400;
		}

		&-price {
			font-size: 3.8rem;
			font-weight: 700;
		}

		&-list {
			margin: 1.5em 0;
			list-style: none;

			&-item {
				margin-bottom: 0.5em;

				.fa {
					margin-right: 0.5em;
				}

				.fa-check {
					color: $green-color;
				}

				&--disabled {
					font-size: 1.5rem;
					color: $dark-grey;
				}
			}
		}

		&-btn {
			padding: 0.5em 2.5em;
			background-color: transparent;
			border-radius: 6px;
			border: none;
			font-size: 2rem;
			color: $pure-black;
			background-color: $pure-white;
			box-shadow: 0 2px 5px $dark-grey;
			@include btnAnimation($light-grey);
			cursor: pointer;
			transition: background-color 0.3s, box-shadow 0.3s;

			&--active {
				background-color: $green-color;
				box-shadow: 0 2px 5px $green-color;
				transition: box-shadow 0.3s;

				&::before,
				&::after {
					background-color: $darker-green-color;
				}

				&:hover {
					box-shadow: 0 2px 5px $darker-green-color;
				}
			}
		}
	}
}

.footer {
	background-color: $light-grey;

	.wrapper {
		padding: 4em 2em 2em;
	}

	&__boxes {
		display: flex;
		align-items: center;
		flex-direction: column;
	}

	&__heading {
		font-size: 3.6rem;
		margin-bottom: 1.5em;
		&-brand {
			font-weight: 400;
			i {
				color: $dark-grey;
			}
		}
	}

	&__box {
		margin-bottom: 1.5em;
		width: 100%;
		text-align: center;

		&-title {
			margin-bottom: 0.5em;
			font-size: 2.5rem;
		}

		&-list {
			list-style: none;

			&-item {
				margin-bottom: 0.5em;
				font-size: 1.8rem;
				a {
					color: $pure-black;
					text-decoration: none;
				}
			}
		}
	}

	&__bottom-text {
		padding: 2em;
		text-align: center;
	}
}

//++++++++++++++++++ section CONTACT
.contact-page {
	.header {
		background-image: $shadow-black, url('../img/contact-header-small.jpg');
		background-position: center;
	}
	.map {
		width: 100%;
		height: 25em;

		iframe {
			width: 100%;
			height: 100%;
		}
	}

	.contact {
		padding: 4em 1em;

		.wrapper {
			max-width: 600px;
		}

		&__heading {
			margin-bottom: 1.5em;
			font-size: 3rem;
		}

		&__box {
			padding: 3em 1em;
			border-radius: 8px;
			overflow: hidden;
			background-color: $light-grey;
		}

		&__form {
			display: flex;
			flex-direction: column;

			label {
				margin-bottom: 0.6em;
				font-size: 1.5rem;
			}

			input {
				margin-bottom: 2em;
			}

			input,
			textarea {
				padding: 0.6em 1em;
				font-size: 1.8rem;
				border: 2px solid $grey-color-contact;

				&:focus {
					outline: none;
					border: 2px solid $green-color;
				}

				&::placeholder {
					color: $grey-color-contact;
				}
			}

			input,
			textarea,
			button {
				border-radius: 8px;
			}

			textarea {
				margin-bottom: 3em;
				max-width: 100%;
				min-height: 200px;
			}

			&-btn {
				padding: 0.8em 1em;
				width: 100%;
				background-color: $green-color;
				font-size: 2rem;
				border: 2px solid transparent;
				box-shadow: 0 2px 5px $green-color;
				@include btnAnimation($darker-green-color);
				cursor: pointer;
				transition: box-shadow 0.3s, border 0.3s;

				&:focus {
					outline: none;
					border: 2px solid #1b6e13;
				}

				&:hover {
					border: 2px solid $darker-green-color;
					box-shadow: 0 2px 5px $darker-green-color;
				}
			}
		}
	}
}

.offers-page {
	.header {
		background-image: $shadow-black, url('../img/offers-header-small.jpg');
		background-position: 10% 50%;
	}
}

@import './small';
@import './medium';
@import './large';
